* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
html {
    font-family: "Open Sans", sans-serif;
}
/* Navbar Section */
#navbar {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 70px;
}
#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover {
    background: #336ea2;
    border-radius: 4px;
}
/* Home Section */
#home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid grey; 
}
#home img {
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}
#home .name h2 {
    margin-bottom: 0.75rem;
}
#home .name p {
    opacity: 0.6;
    font-style: italic;
}
/* Portfolio */

#portfolio {
    color: #fff;
    padding: 1rem;
}
#portfolio .items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#portfolio .items .item {
    margin-top: 1rem;
    width: 33%;
    text-align: center;
    padding: 0.5rem;
}
#portfolio .items .item:hover {
    color: red;
    opacity: 0.6;
}
/* About */

#about {
    color: #fff;
    margin-top: 2rem; 
}
#about p {
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
/* Contact */

#contact {
    color: #fff;
    padding: 1rem;
    margin-top: 2rem;
}
#contact .contact-form {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
#contact .contact-form ul {
    list-style-type: none;
    display: flex;
    margin-top: 1rem;
    align-self: center;
}
#contact .contact-form ul li a {
    padding: 1rem;
    font-size: 2rem;
}
#contact .contact-form ul li a:hover {
    opacity: 0.8;
}
/* Copyright */

#copyright {
    margin-top: 2rem;
}
#copyright em:hover {
    opacity: 0.6;
}
















